.fc{background:url(~assets/img/common/country-flags-new.png) no-repeat ;display: inline-block;}
.icon-flag-UK{height:16px!important;width:24px!important;background-position:0 0px;}
.icon-flag-WS{height:16px!important;width:24px!important;background-position:0 -16px;}
.icon-flag-CI{height:16px!important;width:24px!important;background-position:0 -32px;}
.icon-flag-BZ{height:16px!important;width:24px!important;background-position:0 -48px;}
.icon-flag-NG{height:16px!important;width:24px!important;background-position:0 -64px;}
.icon-flag-NO{height:16px!important;width:24px!important;background-position:0 -80px;}
.icon-flag-NL{height:16px!important;width:24px!important;background-position:0 -96px;}
.icon-flag-MZ{height:16px!important;width:24px!important;background-position:0 -112px;}
.icon-flag-NE{height:16px!important;width:24px!important;background-position:0 -128px;}
.icon-flag-NI{height:16px!important;width:24px!important;background-position:0 -144px;}
.icon-flag-NA{height:16px!important;width:24px!important;background-position:0 -160px;}
.icon-flag-NP{height:16px!important;width:24px!important;background-position:0 -176px;}
.icon-flag-PK{height:16px!important;width:24px!important;background-position:0 -192px;}
.icon-flag-PH{height:16px!important;width:24px!important;background-position:0 -208px;}
.icon-flag-PG{height:16px!important;width:24px!important;background-position:0 -224px;}
.icon-flag-PT{height:16px!important;width:24px!important;background-position:0 -240px;}
.icon-flag-PR{height:16px!important;width:24px!important;background-position:0 -256px;}
.icon-flag-PL{height:16px!important;width:24px!important;background-position:0 -272px;}
.icon-flag-OM{height:16px!important;width:24px!important;background-position:0 -288px;}
.icon-flag-NZ{height:16px!important;width:24px!important;background-position:0 -304px;}
.icon-flag-PE{height:16px!important;width:24px!important;background-position:0 -320px;}
.icon-flag-PA{height:16px!important;width:24px!important;background-position:0 -336px;}
.icon-flag-MC{height:16px!important;width:24px!important;background-position:0 -352px;}
.icon-flag-MA{height:16px!important;width:24px!important;background-position:0 -368px;}
.icon-flag-MG{height:16px!important;width:24px!important;background-position:0 -384px;}
.icon-flag-MD{height:16px!important;width:24px!important;background-position:0 -400px;}
.icon-flag-LT{height:16px!important;width:24px!important;background-position:0 -416px;}
.icon-flag-LS{height:16px!important;width:24px!important;background-position:0 -432px;}
.icon-flag-LR{height:16px!important;width:24px!important;background-position:0 -448px;}
.icon-flag-LY{height:16px!important;width:24px!important;background-position:0 -464px;}
.icon-flag-LV{height:16px!important;width:24px!important;background-position:0 -480px;}
.icon-flag-LU{height:16px!important;width:24px!important;background-position:0 -496px;}
.icon-flag-MV{height:16px!important;width:24px!important;background-position:0 -512px;}
.icon-flag-MU{height:16px!important;width:24px!important;background-position:0 -528px;}
.icon-flag-MT{height:16px!important;width:24px!important;background-position:0 -544px;}
.icon-flag-MY{height:16px!important;width:24px!important;background-position:0 -560px;}
.icon-flag-MX{height:16px!important;width:24px!important;background-position:0 -576px;}
.icon-flag-MW{height:16px!important;width:24px!important;background-position:0 -592px;}
.icon-flag-MN{height:16px!important;width:24px!important;background-position:0 -608px;}
.icon-flag-MM{height:16px!important;width:24px!important;background-position:0 -624px;}
.icon-flag-ML{height:16px!important;width:24px!important;background-position:0 -640px;}
.icon-flag-MR{height:16px!important;width:24px!important;background-position:0 -656px;}
.icon-flag-MO{height:16px!important;width:24px!important;background-position:0 -672px;}
.icon-flag-PY{height:16px!important;width:24px!important;background-position:0 -688px;}
.icon-flag-UA{height:16px!important;width:24px!important;background-position:0 -704px;}
.icon-flag-TZ{height:16px!important;width:24px!important;background-position:0 -720px;}
.icon-flag-TW{height:16px!important;width:24px!important;background-position:0 -736px;}
.icon-flag-UY{height:16px!important;width:24px!important;background-position:0 -752px;}
.icon-flag-US{height:16px!important;width:24px!important;background-position:0 -768px;}
.icon-flag-UG{height:16px!important;width:24px!important;background-position:0 -784px;}
.icon-flag-TN{height:16px!important;width:24px!important;background-position:0 -800px;}
.icon-flag-TM{height:16px!important;width:24px!important;background-position:0 -816px;}
.icon-flag-TJ{height:16px!important;width:24px!important;background-position:0 -832px;}
.icon-flag-TT{height:16px!important;width:24px!important;background-position:0 -848px;}
.icon-flag-TR{height:16px!important;width:24px!important;background-position:0 -864px;}
.icon-flag-TO{height:16px!important;width:24px!important;background-position:0 -880px;}
.icon-flag-ZA{height:16px!important;width:24px!important;background-position:0 -896px;}
.icon-flag-YE{height:16px!important;width:24px!important;background-position:0 -912px;}
.icon-flag-ZW{height:16px!important;width:24px!important;background-position:0 -928px;}
.icon-flag-ZR{height:16px!important;width:24px!important;background-position:0 -944px;}
.icon-flag-ZM{height:16px!important;width:24px!important;background-position:0 -960px;}
.icon-flag-VAN{height:16px!important;width:24px!important;background-position:0 -976px;}
.icon-flag-UZ{height:16px!important;width:24px!important;background-position:0 -992px;}
.icon-flag-VN{height:16px!important;width:24px!important;background-position:0 -1008px;}
.icon-flag-VE{height:16px!important;width:24px!important;background-position:0 -1024px;}
.icon-flag-SE{height:16px!important;width:24px!important;background-position:0 -1040px;}
.icon-flag-SD{height:16px!important;width:24px!important;background-position:0 -1056px;}
.icon-flag-SC{height:16px!important;width:24px!important;background-position:0 -1072px;}
.icon-flag-SK{height:16px!important;width:24px!important;background-position:0 -1088px;}
.icon-flag-SI{height:16px!important;width:24px!important;background-position:0 -1104px;}
.icon-flag-SG{height:16px!important;width:24px!important;background-position:0 -1120px;}
.icon-flag-RS{height:16px!important;width:24px!important;background-position:0 -1136px;}
.icon-flag-RO{height:16px!important;width:24px!important;background-position:0 -1152px;}
.icon-flag-QA{height:16px!important;width:24px!important;background-position:0 -1168px;}
.icon-flag-SB{height:16px!important;width:24px!important;background-position:0 -1184px;}
.icon-flag-SA{height:16px!important;width:24px!important;background-position:0 -1200px;}
.icon-flag-RU{height:16px!important;width:24px!important;background-position:0 -1216px;}
.icon-flag-SZ{height:16px!important;width:24px!important;background-position:0 -1232px;}
.icon-flag-SV{height:16px!important;width:24px!important;background-position:0 -1248px;}
.icon-flag-TH{height:16px!important;width:24px!important;background-position:0 -1264px;}
.icon-flag-TG{height:16px!important;width:24px!important;background-position:0 -1280px;}
.icon-flag-TD{height:16px!important;width:24px!important;background-position:0 -1296px;}
.icon-flag-SN{height:16px!important;width:24px!important;background-position:0 -1312px;}
.icon-flag-SM{height:16px!important;width:24px!important;background-position:0 -1328px;}
.icon-flag-SL{height:16px!important;width:24px!important;background-position:0 -1344px;}
.icon-flag-SR{height:16px!important;width:24px!important;background-position:0 -1360px;}
.icon-flag-LK{height:16px!important;width:24px!important;background-position:0 -1376px;}
.icon-flag-CH{height:16px!important;width:24px!important;background-position:0 -1392px;}
.icon-flag-CG{height:16px!important;width:24px!important;background-position:0 -1408px;}
.icon-flag-CF{height:16px!important;width:24px!important;background-position:0 -1424px;}
.icon-flag-CM{height:16px!important;width:24px!important;background-position:0 -1440px;}
.icon-flag-CL{height:16px!important;width:24px!important;background-position:0 -1456px;}
.icon-flag-BT{height:16px!important;width:24px!important;background-position:0 -1472px;}
.icon-flag-BR{height:16px!important;width:24px!important;background-position:0 -1488px;}
.icon-flag-BO{height:16px!important;width:24px!important;background-position:0 -1504px;}
.icon-flag-CA{height:16px!important;width:24px!important;background-position:0 -1520px;}
.icon-flag-BY{height:16px!important;width:24px!important;background-position:0 -1536px;}
.icon-flag-BW{height:16px!important;width:24px!important;background-position:0 -1552px;}
.icon-flag-DK{height:16px!important;width:24px!important;background-position:0 -1568px;}
.icon-flag-DJ{height:16px!important;width:24px!important;background-position:0 -1584px;}
.icon-flag-DE{height:16px!important;width:24px!important;background-position:0 -1600px;}
.icon-flag-EC{height:16px!important;width:24px!important;background-position:0 -1616px;}
.icon-flag-DZ{height:16px!important;width:24px!important;background-position:0 -1632px;}
.icon-flag-DO{height:16px!important;width:24px!important;background-position:0 -1648px;}
.icon-flag-CR{height:16px!important;width:24px!important;background-position:0 -1664px;}
.icon-flag-CO{height:16px!important;width:24px!important;background-position:0 -1680px;}
.icon-flag-CN{height:16px!important;width:24px!important;background-position:0 -1696px;}
.icon-flag-CZ{height:16px!important;width:24px!important;background-position:0 -1712px;}
.icon-flag-CY{height:16px!important;width:24px!important;background-position:0 -1728px;}
.icon-flag-CU{height:16px!important;width:24px!important;background-position:0 -1744px;}
.icon-flag-BN{height:16px!important;width:24px!important;background-position:0 -1760px;}
.icon-flag-AT{height:16px!important;width:24px!important;background-position:0 -1776px;}
.icon-flag-AR{height:16px!important;width:24px!important;background-position:0 -1792px;}
.icon-flag-AO{height:16px!important;width:24px!important;background-position:0 -1808px;}
.icon-flag-AZ{height:16px!important;width:24px!important;background-position:0 -1824px;}
.icon-flag-AU{height:16px!important;width:24px!important;background-position:0 -1840px;}
.icon-flag-AF{height:16px!important;width:24px!important;background-position:0 -1856px;}
.icon-flag-AE{height:16px!important;width:24px!important;background-position:0 -1872px;}
.icon-flag-AD{height:16px!important;width:24px!important;background-position:0 -1888px;}
.icon-flag-AM{height:16px!important;width:24px!important;background-position:0 -1904px;}
.icon-flag-AL{height:16px!important;width:24px!important;background-position:0 -1920px;}
.icon-flag-AG{height:16px!important;width:24px!important;background-position:0 -1936px;}
.icon-flag-BI{height:16px!important;width:24px!important;background-position:0 -1952px;}
.icon-flag-BH{height:16px!important;width:24px!important;background-position:0 -1968px;}
.icon-flag-BG{height:16px!important;width:24px!important;background-position:0 -1984px;}
.icon-flag-BJ{height:16px!important;width:24px!important;background-position:0 -2000px;}
.icon-flag-BD{height:16px!important;width:24px!important;background-position:0 -2016px;}
.icon-flag-BB{height:16px!important;width:24px!important;background-position:0 -2032px;}
.icon-flag-BA{height:16px!important;width:24px!important;background-position:0 -2048px;}
.icon-flag-BF{height:16px!important;width:24px!important;background-position:0 -2064px;}
.icon-flag-BE{height:16px!important;width:24px!important;background-position:0 -2080px;}
.icon-flag-EE{height:16px!important;width:24px!important;background-position:0 -2096px;}
.icon-flag-JM{height:16px!important;width:24px!important;background-position:0 -2112px;}
.icon-flag-IT{height:16px!important;width:24px!important;background-position:0 -2128px;}
.icon-flag-IS{height:16px!important;width:24px!important;background-position:0 -2144px;}
.icon-flag-KE{height:16px!important;width:24px!important;background-position:0 -2160px;}
.icon-flag-JP{height:16px!important;width:24px!important;background-position:0 -2176px;}
.icon-flag-JO{height:16px!important;width:24px!important;background-position:0 -2192px;}
.icon-flag-IL{height:16px!important;width:24px!important;background-position:0 -2208px;}
.icon-flag-IE{height:16px!important;width:24px!important;background-position:0 -2224px;}
.icon-flag-ID{height:16px!important;width:24px!important;background-position:0 -2240px;}
.icon-flag-IR{height:16px!important;width:24px!important;background-position:0 -2256px;}
.icon-flag-IQ{height:16px!important;width:24px!important;background-position:0 -2272px;}
.icon-flag-IN{height:16px!important;width:24px!important;background-position:0 -2288px;}
.icon-flag-LB{height:16px!important;width:24px!important;background-position:0 -2304px;}
.icon-flag-LA{height:16px!important;width:24px!important;background-position:0 -2320px;}
.icon-flag-LI{height:16px!important;width:24px!important;background-position:0 -2336px;}
.icon-flag-KP{height:16px!important;width:24px!important;background-position:0 -2352px;}
.icon-flag-KH{height:16px!important;width:24px!important;background-position:0 -2368px;}
.icon-flag-KG{height:16px!important;width:24px!important;background-position:0 -2384px;}
.icon-flag-KZ{height:16px!important;width:24px!important;background-position:0 -2400px;}
.icon-flag-KW{height:16px!important;width:24px!important;background-position:0 -2416px;}
.icon-flag-KR{height:16px!important;width:24px!important;background-position:0 -2432px;}
.icon-flag-HU{height:16px!important;width:24px!important;background-position:0 -2448px;}
.icon-flag-GA{height:16px!important;width:24px!important;background-position:0 -2464px;}
.icon-flag-FR{height:16px!important;width:24px!important;background-position:0 -2480px;}
.icon-flag-GE{height:16px!important;width:24px!important;background-position:0 -2496px;}
.icon-flag-GD{height:16px!important;width:24px!important;background-position:0 -2512px;}
.icon-flag-ET{height:16px!important;width:24px!important;background-position:0 -2528px;}
.icon-flag-ES{height:16px!important;width:24px!important;background-position:0 -2544px;}
.icon-flag-EG{height:16px!important;width:24px!important;background-position:0 -2560px;}
.icon-flag-FJ{height:16px!important;width:24px!important;background-position:0 -2576px;}
.icon-flag-FI{height:16px!important;width:24px!important;background-position:0 -2592px;}
.icon-flag-HK{height:16px!important;width:24px!important;background-position:0 -2608px;}
.icon-flag-GY{height:16px!important;width:24px!important;background-position:0 -2624px;}
.icon-flag-HT{height:16px!important;width:24px!important;background-position:0 -2640px;}
.icon-flag-HR{height:16px!important;width:24px!important;background-position:0 -2656px;}
.icon-flag-HN{height:16px!important;width:24px!important;background-position:0 -2672px;}
.icon-flag-GH{height:16px!important;width:24px!important;background-position:0 -2688px;}
.icon-flag-GT{height:16px!important;width:24px!important;background-position:0 -2704px;}
.icon-flag-GR{height:16px!important;width:24px!important;background-position:0 -2720px;}
.icon-flag-GN{height:16px!important;width:24px!important;background-position:0 -2736px;}
.icon-flag-KM{height:16px!important;width:24px!important;background-position:0 -2752px;}
.icon-flag-DM{height:16px!important;width:24px!important;background-position:0 -2768px;}
.icon-flag-GQ{height:16px!important;width:24px!important;background-position:0 -2784px;}
.icon-flag-ER{height:16px!important;width:24px!important;background-position:0 -2800px;}
.icon-flag-GL{height:16px!important;width:24px!important;background-position:0 -2816px;}
.icon-flag-GW{height:16px!important;width:24px!important;background-position:0 -2832px;}
.icon-flag-KI{height:16px!important;width:24px!important;background-position:0 -2848px;}
.icon-flag-MH{height:16px!important;width:24px!important;background-position:0 -2864px;}
.icon-flag-MNE{height:16px!important;width:24px!important;background-position:0 -2880px;}
.icon-flag-PW{height:16px!important;width:24px!important;background-position:0 -2896px;}
.icon-flag-RW{height:16px!important;width:24px!important;background-position:0 -2912px;}
.icon-flag-TV{height:16px!important;width:24px!important;background-position:0 -2928px;}
.icon-flag-BS{height:16px!important;width:24px!important;background-position:0 -2944px;}